{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{#    {% if app.environment != 'test' %}{{ encore_entry_link_tags('account') }}{% endif %}#}
{% endblock %}
{% block title %}User Account{% endblock %}
{% block body %}
    <div class="container">
        <div class="row user-menu-container square">
            <div class="col-md-12 user-details">
                <div class="row spacepurplebg white">
                    <div class="col-md-10 no-pad">
                        <div class="user-pad">
                            <h3>Email: {{ app.user.email }}</h3>
                            <h3>Password:{{ app.user.password }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
