{{ form_start(dayForm) }}
    {{ form_row(dayForm.title) }}
    {{ form_row(dayForm.content) }}
    {{ form_row(dayForm.PublishedAt) }}
    <button type="submit" class="btn btn-primary"> {{ button_text }}</button>
{{ form_end(dayForm) }}
