{% extends 'base.html.twig' %}

{% block title %} SimpleCalendar {% endblock %}

{% block body %}
    <div class="container">
                <div class="panel-body" style = " background-color: #64BDFF; padding-top: 50px;padding-right: 50px;padding-bottom: 50px;padding-left: 50px;">
                    <div class="row">
                        <!-- Article List -->
                        <div class="col-sm-12">
                            <!-- H1 Article -->
                            <a class="main-article-link">
                                <div class="main-article mb-3">
                                    <h1 class="text-center mt-2" style="color: #000000;">{{ month.title }}</h1>
                                    {% if month.imageFilename %}
                                        <img class="article-img" syle="border-top:0px;" src="{{ uploaded_asset(month.imagePath)  }}">
                                    {% endif %}
                                </div>
                            </a>
                            <!-- Supporting Day -->
                            <div class="col-sm-12">
                                <div class="row">
                                    {% for day in month.days %}
                                    {% if loop.index0 % 7 == 0%}
                                </div><div class="row">
                                    {% endif %}
                                    {% if day.publishedAt == true %}
                                        <div class="padding-column" style="column-width: 144px;">
                                            <div class="article-container padding-container">
                                                <div class="card" >
                                                    <a href="{{ path('day_show', {slug: day.slug}) }}">
                                                        <div style = "text-align: center;">
                                                            <div class="card-body">
                                                                <div class="card-text mb-0 text-center">
                                                                    <span>{{ day.title }}</span>

                                                                </div>
                                                            </div>
                                                            {#                                            {% if day.imageFilename %}#}
                                                            {#                                                <img class="article-img card-img-bottom center" src="{{ uploaded_asset(day.imagePath)}}">#}
                                                            {#                                            {% endif %}#}
                                                            {#                                <span class="pl-5 article-details float-right"> {{ day.publishedAt ? day.publishedAt }}</span>#}
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
{% endblock %}
{% block content_class %}{{ parent() }} show-article-container-border-green{% endblock %}

{% block content_body %}

{% endblock %}
